@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.uldrop{
    visibility: hidden;
}

.droptitle:hover + .uldrop {

    visibility: visible;
  }

  .drop:hover .arrowdrop {

    transform: rotateX(180deg);
    color: #141414;
    font-weight: 700;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    color: #141414;

}
.arrowdrop {
    transition-timing-function: ease-in-out;
    transition-duration: 800ms;
}